@font-face {
    font-family: 'PageFont';
    src: url('../fonts/ABeeZee-Regular.otf');
}

@font-face {
  font-family: 'ListFont';
  src: url('../fonts/Adequate-ExtraLight.ttf')
}

html, body {
  background-color: #eaeaea;
  width: 100%;
  position: relative;
  overflow: auto;
}

h2 {
  font-size: 86px;
  width: 100%;
  color: #63635F; /* #63635F;*/
  font-family: 'TitleFont';
  position: absolute;
  float: left;
  margin-left: 175px;
  margin-top: 75px;
  font-weight: bold;
}

h3 {
  text-align: center;
  font-size: 26px;
  color: #63635F;
  font-family: 'PageFont', Helvetica;
}

p {
  padding-left: 250px;
  padding-right: 250px;
  color: #63635F;
  font-family: 'PageFont', Helvetica;
  font-size: 18px;
  text-align: center;
}

.portfolio-link {
  text-align: center;
}

.portfolio-link a:link {
  text-decoration: none;
  color: #00628B;
}

.portfolio-link a:visited {
  text-decoration: none;
  color: #00628B;
}

img.profile {
  width: 200px;
  height: 200px;;
  margin: 0 auto;
  vertical-align: center;
}

li h4 {
  font-size: 22px;
}

.lists {
  text-align: center;
}

ul {
  display: inline-block;
  width: 200px;
  height: 400px;
  list-style-type: none;
  text-align: left;
}

.languages {
  background-color: #00628B;
  border: solid 2px #00628B;
}

.tools {
  background-color: #81A594;
  border: solid 2px #81A594;
}

.platforms {
  background-color: #E06F5C;
  border: solid 2px #E06F5C;
}

ul li img {
  width: 30px;
  height: 30px;
  margin-right: 25px;
  vertical-align: middle;
}

ul li {
  display: block;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  padding-right: 30px;
  margin-bottom: 10px;
  color: white;
  font-family: 'ListFont';
  font-size: 12px;
}

li p {
  padding-bottom: 0px;
}

.push {
  padding-bottom: 90px;
}
