@font-face {
  font-family: 'TitleFont';
  src: url('../fonts/Anson-Regular.otf');
}

html, body{
  margin: 0;
}

.navbar-wrapper {
  background-color: #00628B;
  display: inline-block;
  width: 100%;
  height: 98px;
  position: relative;
  border-bottom: solid 5px #81A594;
}


.title {
  float: left;
  font-family: 'TitleFont';
  font-size: 48px;
  margin: 0;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top:30px;

  /* Transition Code */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.title:hover {
  color: #E6E6DC;
}

.links {
  position: absolute;
  bottom: 0;
  right: 0;
}

.links a {
  font-size: 24px;
  float: right;
  font-family: 'TitleFont';
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: 0;
  bottom: 0;

  /* Transition Code */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}


.links a:hover {
  background-color: #005272;
  color: #E6E6DC;
}

a:link {
  color: #00628B;
  text-decoration: none;
}

a:visited {
  color: #00628B;
  text-decoration: none;
}

.header-link:link {
  color: white;
  text-decoration: none;
}

.header-link:visited {
  color: white;
  text-decoration: none;
}

.footer {
  background-color: #00628B;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top: solid 5px #81A594;
  color: white;
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
  line-height: 70px;
}

.footer a:link {
  color: white;
  text-decoration: none;
}

.footer a:visited {
  color: white;
  text-decoration: none;
}
