@font-face {
    font-family: 'PageFont';
    src: url('../fonts/ABeeZee-Regular.otf');
}

body, html {
  background-color: #E6E6DC;
  width: 100%;
  overflow: auto;
  position: relative;
}

h2 {
  text-align: center;
  font-size: 28px;
  width: 100%;
  color: #63635F;
  font-family: 'PageFont', Helvetica;
}

div {
  margin: 0 auto;
  width: 940px;
}

.row {
  padding-bottom: 15px;
}

figure {
  vertical-align: top;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0;
  margin-top: 0;
}

img {
  width: 300px;
  height: 188px;
  padding-bottom: 5px;

  /* Scale Up Code */
  -webkit-transition: all .2s ease; /* Safari and Chrome */
  -moz-transition: all .2s ease; /* Firefox */
  -ms-transition: all .2s ease; /* IE 9 */
  -o-transition: all .2s ease; /* Opera */
  transition: all .2s ease;
}

img:hover {
  -webkit-transform:scale(1.1); /* Safari and Chrome */
  -moz-transform:scale(1.1); /* Firefox */
  -ms-transform:scale(1.1); /* IE 9 */
  -o-transform:scale(1.1); /* Opera */
   transform:scale(1.1);
}

figcaption {
  font-size: 12px;
  font-family: 'PageFont', Helvetica;
  color: #63635F;
  width: 300px;
  text-align: center;
  padding-bottom: 5px;
}

.push {
  padding-bottom: 90px;
}
