{% include "header_footer.html" %}
{% load staticfiles %}

<html>
  <title>{{ post.title }}</title>
  <body>
    <div class="content-wrapper">
      <div class="title-wrapper">
        <h1>{{ post.title }}</h1>
        <h4>{{ post.date_posted }}</h4>
      </div>
      <p>{{ post.content|safe }}<p>
    </div>
    <div class="push"></div>
  </body>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <link rel="stylesheet" href="{% static 'css/blog_post.css' %}">
<html>
