{% include "header_footer.html" %}
{% load staticfiles %}

<html>
  <title>Evan Klein</title>
  <body>
    <div class="container">

      <h2><b>Hi there. I'm Evan.</b></h2>
      <p>I'm currently a student at <a href="http://www.purdue.edu/">Purdue University</a>,
      pursuing an undergraduate Bachelor's of Science degree in Computer Science,
      set to graduate in 2020. I'm also a developer with experience in web, mobile,
      and desktop environments.</p>
      <h3 class="philosophy"><b>My Philosophy</b></h3>
      <p>I have been programming and toying with software and hardware since I
      was 14 years old, and have experience with a variety of languages,
      frameworks, software paradigms, and operating systems. I believe that
      the most efficient way to stay modern and with the times (which is
      essential if you plan to pursue a career in the software industry) is
      to gain a diverse set of skills with a wide range of technologies. Because
      of this, I have developed a love of learning, and look at every new job
      and project as an opportunity to advance myself and my career.</p>

      <p>Currently I have experience working with Android development, web
        development, cryptography, steganography, Raspberry Pi, Wordpress, Chrome
        plugins/extensions, 2D game development, and audio applications.</p>
      <h3><b>Technologies and Experience</b></h3>
      <div class="lists">
        <div class="experience">
          <ul class="languages">
            <div class="list-content">
              <li><h4>Languages</h4></li>
              <li><img src="{% static 'images/skills/java.png' %}">Java</li>
              <li><img src="{% static 'images/skills/visual_basic.png' %}">Visual Basic</li>
              <li><img src="{% static 'images/skills/c-sharp.png' %}">C#</li>
              <li><img src="{% static 'images/skills/python.png' %}">Python</li>
              <li><img src="{% static 'images/skills/html5.png' %}">HTML5</li>
              <li><img src="{% static 'images/skills/css3.png' %}">CSS3</li>
              <li><img src="{% static 'images/skills/javascript.png' %}">Javascript</li>
            </div>
          </ul>

          <ul class="tools">
            <div class="list-content">
              <li><h4>Tools</h4></li>
              <li><img src="{% static 'images/skills/asp_net.png' %}">ASP.NET</li>
              <li><img src="{% static 'images/skills/json_net.png' %}">Json.NET</li>
              <li><img src="{% static 'images/skills/libGDX.png' %}">libGDX</li>
              <li><img src="{% static 'images/skills/sunlight_congress_api.png' %}">Congress API</li>
              <li><img src="{% static 'images/skills/django.png' %}">Django</li>
              <li><img src="{% static 'images/skills/javascript_chrome_apis.png' %}">Chrome JS APIs</li>
              <li><img src="{% static 'images/skills/blanks.png' %}"></li>
            </div>
          </ul>

          <ul class="Platforms">
            <div class="list-content">
              <li><h4>Platforms</h4></li>
              <li><img src="{% static 'images/skills/android.png' %}">Android</li>
              <li><img src="{% static 'images/skills/azure.png' %}">Azure</li>
              <li><img src="{% static 'images/skills/dot_net.png' %}">.NET</li>
              <li><img src="{% static 'images/skills/blanks.png' %}"></li>
              <li><img src="{% static 'images/skills/blanks.png' %}"></li>
              <li><img src="{% static 'images/skills/blanks.png' %}"></li>
              <li><img src="{% static 'images/skills/blanks.png' %}"></li>
            </div>
          </ul>
        </div>
      </div>

      <p class="portfolio-link">Seen enough? <a href="/portfolio/">Check out
         some of my work!</a> Or take a look at <a href="">my résumé!</a><p> 
    </div>
    <div class="push"></div>
  </body>
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
</html>
