{% include "header_footer.html" %}
{% load staticfiles %}

{% block content %}
<html>
  <title>Contact</title>
  <body>
  <h2>Contact</h2>
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="submit" type="submit">Submit</button>
    </form>
    {% if messages %}
      {% for message in messages %}
        <script>alert('{{ message }}')</script>        
      {% endfor %}
    {% endif %}
    <div class="push"></div>
  </body>
  <link rel="stylesheet" href="{% static 'css/contact.css '%}" />
</html>
{% endblock %}
