{% load staticfiles %}
<html>
  {% block content %}
  <header>
    <div class="navbar-wrapper">
      <p class="title"><b>Evan Klein</b></p>
    </div>
    <div class="links">
        <a class="header-link" href="/contact">Contact</a>
        <a class="header-link" href="/portfolio">Portfolio</a>
        <a class="header-link" href="/">About</a>
    </div>

  </header>
  <div class="footer">
    © 2017 Evan Klein &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="https://github.com/hasherr">Github</a> &nbsp; &nbsp; / &nbsp; &nbsp;
    <a href="https://www.linkedin.com/in/evan-klein-40b255119">LinkedIn</a> &nbsp; &nbsp; / &nbsp; &nbsp;
    <a href="/static/documents/resume.pdf">Resume</a>
  </div>
  <link rel="stylesheet" href="{% static 'css/header_footer_style.css' %}">
  {% endblock %}
</html>
